body {
  background-color: rgb(162, 210, 240);
  text-wrap: balance;
}
h1 {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  text-align: center;
  border-top: 3px solid rgb(86, 113, 187);
  border-bottom: 3px solid rgb(86, 113, 187);
  background-color: rgb(188, 235, 255);
}
img {
  width: 500px;
  height: 350px;
  object-fit: cover;
  margin-left: 2em;
}
nav ul {
  border: 2px solid rgb(86, 113, 187);
  margin-bottom: 4em;
  list-style: none;
  padding: 1em 2em 1em 2em;
  font-family: "Lexend Peta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

section h2 {
  font-family: "Lexend Peta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: rgb(12, 46, 113);
  background-color: rgb(188, 235, 255);
  border-top: 3px dotted rgb(86, 113, 187);
  border-bottom: 3px dotted rgb(86, 113, 187);
  padding-top: 1em;
  padding-bottom: 1em;
}

section p {
  padding: 1em 1.5em;
  font-size: larger;
}

section h2 {
  padding-left: 1em;
  font-size: x-large;
}
dt {
  font-size: larger;
  padding-bottom: 0.75em;
  margin-left: 2em;
  border: 1px solid rgb(58, 88, 153);
  background-color: rgb(58, 88, 153);
  color: white;
  width: fit-content;
  padding: 0.25em;
}
dd {
  padding-bottom: 1em;
  padding-top: 1em;
  margin-left: 4em;
}

article p {
  font-size: large;
  padding-left: 1em;
  padding-right: 0cap;
}
article h3 {
  font-size: 30;
  padding-left: 2em;
}

footer {
  background-color: rgb(103, 145, 183);
  padding: 1.5em;
  text-align: center;
}

h3 {
  font-family: "Lexend Peta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: rgb(1, 51, 91);
}
